$break-pre-iPad: 767px;
$break-iPad: 768px;
$break-iPhone: 320px;
$break-iPhone-plus: 330px;
$break-phones-400: 400px;
$break-phones-470: 470px;

$break-iPhone-landscape: 640px;
$break-iPhone5-height: 459px;
$break-640-height: 640px;

$break-640: 640px;
$break-770: 769px;
$break-990: 989px;
