$intel-light-blue: #00aeef;
$intel-blue: #0071c4;
$intel-orange: #fdb813;
$intel-red: #ed1c24;
$intel-yellow: #f6d836;

$bg-blue: #003c71;

$light-blue: #7dd2f7;
$dark-blue: #004280;
$dark-blue-bg: rgba(0, 66, 128, .8);

$button-yellow: #ffda00;

$intel-regular: 'IntelClearRegular', sans-serif;
$intel-light: 'IntelClearLight', sans-serif;
$intel-bold: 'IntelClearBold', sans-serif;
$chalkduster: 'Chalkduster', sans-serif;