$bg: #000000;
$white: #fcf9e8;
$black: #33332e;
$orange: #FF6600;
$photo-selected: rgba(0, 0, 0, .65);
$photoBG: #d7d7d7;
$grey: #737373;

$clarendon-wide: "clarendon-wide", sans-serif;

$max-width: 1300px;
$nav-bar-height: 50px;
