@import 'vars';
@import 'breaks';
@import 'fonts.css';


html, body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $photoBG;
  color: white;
  text-align: center;
  font: 100% $clarendon-wide;
  font-weight: 700;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.5px;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.wrapper {
  position: relative;
  width: auto;
  margin: auto;
  padding: 0 0 $nav-bar-height;
  height: 100%;

  box-sizing: border-box;
  text-align: left;
}


// album display
.row {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  overflow: auto;

  .photo {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 100%;
    float: left;

    background: url("") center center no-repeat;
    background-size: cover;

    box-sizing: border-box;
    border: 1px solid $white;

    opacity: 0;
    visibility: hidden;

    .table {
      display: table;
      position: relative;
      width: 100%;
      height: 100%;

      .cell {
        display: table-cell;
        position: relative;
        width: 100%;
        vertical-align: middle;
        text-align: center;

        color: white;
        font-size: 50px;

        &.selected {
          background-color: $photo-selected;
        }
      }
    }
  }
}

// admin
body.admin {
  .wrapper {
    height: 100%;
    width: 70%;
    margin: 0;
    overflow: auto;
  }

  .row {
    .photo {
      border-color: $black;
    }
  }

  .admin-button {
    position: relative;
    display: block;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 15px 20px 14px;
    text-decoration: none;
    color: $white;
    background-color: $black;
    margin-top: 10px;

    &.save-button {
      display: none;
    }

    &:hover, &:active, &.selected {
      background-color: $orange;
      color: $black;
      border: 1px solid $black;
    }

    &.selected:hover, &.selected:active {
      background-color: $black;
      color: $white;
    }

    &.full-width {
      display: inline-block;
      position: absolute;
      top: 0px;
      right: 10px;
      font-size: 65%;
      padding: 8px 14px 7px;
      z-index: 10000;
    }
  }

  .admin-bar {
    display: block;
    position: relative;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 20px $nav-bar-height;
    float: right;
    overflow: hidden;

    .controls {
      position: relative;
      display: block;
      box-sizing: border-box;
      padding: 5px 0 15px;
    }

    .unused-photos {
      display: block;
      position: relative;
      height: 100%;
      overflow: auto;

      .title {
        display: block;
        position: relative;
      }

      .photo {
        display: block;
        position: relative;
        background: url("") center center no-repeat;
        background-size: cover;
        margin-top: 10px;
        color: white;

        .table {
          display: table;
          position: relative;

          width: 100%;
          height: 100%;
          text-align: center;

          .cell {
            display: table-cell;
            position: relative;
            width: 100%;
            height: 120%;
            vertical-align: middle;
            font-size: 24px;

            &.selected {
              background-color: $photo-selected;
            }
          }
        }
      }
    }
  }
}


// solo photo display
.photo-solo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  visibility: hidden;

  background: $photoBG url("") center center no-repeat;
  background-size: contain;
}