@import 'vars';
@import 'breaks';
@import 'fonts.css';


html, body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $bg;
  color: white;
  text-align: center;
  font: 100% $clarendon-wide;
  font-weight: 700;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.5px;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#wrapper {
  position: relative;
  width: auto;
  //max-width: $max-width;
  height: 100%;
  margin: auto;
  padding: 0 0 100px;

  box-sizing: border-box;
  text-align: left;

  @media screen and (max-width: $break-iPad) {
    padding: 0 0 80px;
  }

  @media screen and (max-width: $break-phones-470) {
    padding: 0 0 40px;
  }
}


// album display
.row {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  overflow: auto;

  //border: 1px solid $white;
  //border-width: 1px 0 1px 0;

  .photo {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 100%;
    float: left;

    background: url("") center center no-repeat;
    background-size: cover;

    box-sizing: border-box;
    border: 1px solid $white;
    //border-width: 1px 0 1px 0;
  }
}

