@import url(fonts.css);
a.album-button {
  position: relative;
  display: block;
  width: 100%;
  height: 65%;
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  border-bottom: 1px solid #fcf9e8;
  box-sizing: border-box; }
  @media screen and (max-width: 570px) {
    a.album-button {
      height: 60%; } }
  a.album-button .table {
    display: table;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; }
    a.album-button .table .inner {
      display: table-cell;
      position: relative;
      width: 100%;
      vertical-align: middle;
      text-align: right;
      padding: 0 42px 0 0;
      color: #fcf9e8;
      text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4); }
      @media screen and (max-width: 570px) {
        a.album-button .table .inner {
          padding: 0 30px 0 0; } }
      a.album-button .table .inner .title {
        font-size: 42px;
        text-transform: uppercase; }
        @media screen and (max-width: 570px) {
          a.album-button .table .inner .title {
            font-size: 30px; } }
      a.album-button .table .inner .photos {
        font-size: 13px;
        margin-top: -10px; }
        @media screen and (max-width: 570px) {
          a.album-button .table .inner .photos {
            font-size: 11px;
            margin-top: -6px; } }

a.button:hover, a.button:active {
  background-color: #000000;
  color: white; }

.social {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  box-sizing: border-box;
  padding: 11px 9px;
  background-color: rgba(252, 249, 232, 0.92); }
  @media screen and (max-width: 570px) {
    .social {
      padding: 8px 6px; } }
  .social .share {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    background: url("") center center no-repeat;
    background-size: contain; }
    @media screen and (max-width: 570px) {
      .social .share {
        width: 21px;
        height: 21px; } }
    .social .share.fb {
      background-image: url("../img/social/fb.png"); }
    .social .share.twitter {
      background-image: url("../img/social/twitter.png");
      margin-top: 15px; }
      @media screen and (max-width: 570px) {
        .social .share.twitter {
          margin-top: 12px; } }
    .social .share:hover, .social .share:active {
      opacity: .7; }

.nav-spacer {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  opacity: 0; }

.nav-bar {
  display: block;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 0 42px;
  background-color: #fcf9e8;
  color: #33332e; }
  @media screen and (max-width: 768px) {
    .nav-bar {
      padding: 0 15px; } }
  .nav-bar .table {
    display: table;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    margin: auto; }
    .nav-bar .table .inner {
      display: table-cell;
      position: relative;
      width: 15%;
      vertical-align: middle;
      min-width: 144px; }
      @media screen and (max-width: 768px) {
        .nav-bar .table .inner {
          min-width: 110px; } }
      @media screen and (max-width: 485px) {
        .nav-bar .table .inner {
          min-width: 54px; } }
      .nav-bar .table .inner.middle {
        width: 70%; }
        .nav-bar .table .inner.middle .album-title {
          text-decoration: none;
          color: inherit; }
      .nav-bar .table .inner .title {
        display: block;
        position: relative;
        float: left;
        font-size: 22px;
        text-transform: uppercase; }
        @media screen and (max-width: 768px) {
          .nav-bar .table .inner .title {
            font-size: 18px; } }
        @media screen and (max-width: 570px) {
          .nav-bar .table .inner .title {
            font-size: 15px;
            line-height: 100%; } }
      .nav-bar .table .inner .album {
        display: block;
        position: relative;
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
        margin: auto; }
        @media screen and (max-width: 768px) {
          .nav-bar .table .inner .album {
            font-size: 18px; } }
        .nav-bar .table .inner .album .position {
          color: #737373;
          font-size: 67%;
          margin: 8px; }
          @media screen and (max-width: 570px) {
            .nav-bar .table .inner .album .position {
              display: block;
              margin: -5px 8px 0; }
              .nav-bar .table .inner .album .position:first-child {
                display: none; } }
      .nav-bar .table .inner a.button {
        display: block;
        position: relative;
        font-weight: 500;
        font-size: 80%;
        text-decoration: none;
        color: #33332e; }
        @media screen and (max-width: 768px) {
          .nav-bar .table .inner a.button {
            font-size: 60%; } }
        .nav-bar .table .inner a.button:hover, .nav-bar .table .inner a.button:active {
          background: #fcf9e8; }
      .nav-bar .table .inner .name {
        display: block;
        position: relative;
        float: right;
        vertical-align: top;
        font-weight: 500;
        font-size: 80%;
        text-align: right;
        text-decoration: none;
        color: inherit; }
        @media screen and (max-width: 768px) {
          .nav-bar .table .inner .name {
            font-size: 60%; } }
  .nav-bar.home-screen .table .inner {
    width: 30%; }
    .nav-bar.home-screen .table .inner:first-child {
      width: 80%; }

body.admin .nav-bar {
  background-color: #33332e;
  color: #fcf9e8; }
  body.admin .nav-bar .table .inner a.button {
    color: #fcf9e8; }
    body.admin .nav-bar .table .inner a.button:hover, body.admin .nav-bar .table .inner a.button:active {
      background: #33332e; }

/*# sourceMappingURL=nav.css.map */
