@import 'vars';
@import 'breaks';
@import 'fonts.css';


// ALBUM
a.album-button {
  position: relative;
  display: block;
  width: 100%;
  height: 65%;
  text-decoration: none;

  opacity: 0;
  visibility: hidden;

  border-bottom: 1px solid $white;
  box-sizing: border-box;

  @media screen and (max-width: $break-570) {
    height: 60%;
  }

  &:active, &:hover {
    // border: 8px solid $white;
  }

  .table {
    display: table;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    .inner {
      display: table-cell;
      position: relative;
      width: 100%;
      vertical-align: middle;
      text-align: right;
      padding: 0 42px 0 0;
      color: $white;
      text-shadow: 0px 0px 50px rgba(0, 0, 0, .4);

      @media screen and (max-width: $break-570) {
        padding: 0 30px 0 0;
      }

      .title {
        font-size: 42px;
        text-transform: uppercase;

        @media screen and (max-width: $break-570) {
          font-size: 30px;
        }
      }

      .photos {
        font-size: 13px;
        margin-top: -10px;

        @media screen and (max-width: $break-570) {
          font-size: 11px;
          margin-top: -6px;
        }
      }
    }
  }
}

a.button:hover, a.button:active {
  background-color: $bg;
  color: white;
}


// SOCIAL
.social {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  box-sizing: border-box;
  padding: 11px 9px;
  background-color: $white-trans;

  @media screen and (max-width: $break-570) {
    padding: 8px 6px;
  }

  .share {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    background: url("") center center no-repeat;
    background-size: contain;

    @media screen and (max-width: $break-570) {
      width: 21px;
      height: 21px;
    }

    &.fb {
      background-image: url("../img/social/fb.png");
    }

    &.twitter {
      background-image: url("../img/social/twitter.png");
      margin-top: 15px;

      @media screen and (max-width: $break-570) {
        margin-top: 12px;
      }
    }

    &:hover, &:active {
      opacity: .7;
    }
  }
}



// NAV BAR

.nav-spacer {
  display: block;
  position: relative;
  width: 100%;
  height: $nav-bar-height;
  opacity: 0;
}

.nav-bar {
  display: block;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: $nav-bar-height;

  box-sizing: border-box;
  padding: 0 42px;

  @media screen and (max-width: $break-768) {
    padding: 0 15px;
  }

  background-color: $white;
  color: $black;

  .table {
    display: table;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    // max-width: $max-width;
    margin: auto;

    .inner {
      display: table-cell;
      position: relative;
      width: 15%;
      vertical-align: middle;
      min-width: 144px;

      @media screen and (max-width: $break-768) {
        min-width: 110px;
      }

      @media screen and (max-width: 485px) {
        min-width: 54px;
      }

      &.middle {
        width: 70%;
        //background-color: deepskyblue;

        .album-title {
          text-decoration: none;
          color: inherit;
        }
      }

      .title {
        display: block;
        position: relative;
        float: left;
        font-size: 22px;
        text-transform: uppercase;

        @media screen and (max-width: $break-768) {
          font-size: 18px;
        }

        @media screen and (max-width: $break-570) {
          font-size: 15px;
          line-height: 100%;
        }
      }

      .album {
        display: block;
        position: relative;
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
        margin: auto;

        @media screen and (max-width: $break-768) {
          font-size: 18px;
        }

        .position {
          color: $grey;
          font-size: 67%;
          margin: 8px;
          // background-color: yellow;

          @media screen and (max-width: $break-570) {
            &:first-child {
              display: none;
            }

            display: block;
            margin: -5px 8px 0;
          }
        }
      }

      a.button {
        display: block;
        position: relative;
        font-weight: 500;
        font-size: 80%;
        text-decoration: none;
        color: $black;

        @media screen and (max-width: $break-768) {
          font-size: 60%;
        }

        &:hover, &:active {
          background: $white;
          opacity: .5;
        }
      }

      .name {
        display: block;
        position: relative;
        float: right;
        vertical-align: top;
        font-weight: 500;
        font-size: 80%;
        text-align: right;
        text-decoration: none;
        color: inherit;

        @media screen and (max-width: $break-768) {
          font-size: 60%;
        }

        &:hover, &:active {
          background: $white;
          opacity: .5;
        }
      }
    }
  }

  &.home-screen {
    .table .inner {
      width: 30%;

      &:first-child {
        width: 80%;
      }
    }
  }
}

body.admin {
  .nav-bar {
    background-color: $black;
    color: $white;

    .table .inner {
      a.button {
        color: $white;

        &:hover, &:active {
          background: $black;
        }
      }
    }
  }
}